.hidden {
  display: none;
}

div {
  background-color: transparent !important;
}

iframe {
  background-color: black !important;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .ide-container {
    width: 100%;
  }

  .portugol-container {
    display: flex;
    width: 100%;

    mat-form-field {
      width: 100%;
      min-height: 20vh;

      text-area {
        resize: vertical;
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;

    button {
      width: 183px;
      margin-bottom: .5rem;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;

      button {
        margin-bottom: 0;

        &:not(:first-child) {
          margin-left: .5rem;
        }
      }
    }
  }
}

