<div class="container">
  <div class="portugol-container">
    <mat-form-field [appearance]="'outline'" [hideRequiredMarker]="true" color="accent">
      <mat-label>Digite seu codigo em portugol</mat-label>
      <textarea [formControl]="portugolForm" matInput rows="15"></textarea>
      <mat-error *ngIf="portugolForm.errors?.['required']">Por favor digite um código em portugol</mat-error>
    </mat-form-field>
  </div>
  <div class="buttons-container">
    <button (click)="toggleJavaCode()" [color]="'primary'" mat-flat-button>Transforme meu código
    </button>
    <button (click)="downloadCode()" [disabled]='hiddenJavaPlugin' color="accent" mat-flat-button>Baixar código java
    </button>
  </div>


  <div #java *ngIf="!hiddenJavaPlugin" class="ide-container"
       data-language="java"
       data-libs="mavenlib1, mavenlib2" data-pym-src='https://www.jdoodle.com/plugin' data-version-index="3">
    {{text}}
  </div>
</div>
