<div class="my-container container-fluid">
  <div class="row w-100">
    <h1
      [innerHTML]="
      selectedPortugolType === PORTUGOL_TYPE.PORTUGOL_STUDIO
        ? 'Portugol Studio para Java'
        : 'Portugol VisuAlg para Java'
    "
      class="title col-12 text-center"
    ></h1>
    <div class="col-12 col-lg-6">
      <div class="portugol-container mt-3 mb-3">
        <mat-form-field
          [appearance]="'outline'"
          [hideRequiredMarker]="true"
          color="accent"
        >
          <mat-label>Digite seu codigo em portugol</mat-label>
          <textarea [formControl]="portugolForm" matInput rows="15"></textarea>
          <mat-error *ngIf="portugolForm.errors?.['required']"
          >Por favor digite um código em portugol
          </mat-error
          >
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button (click)="toggleJavaCode();" color="primary" mat-flat-button>
          Transformar
        </button>
        <button
          (click)="downloadCode()"
          [disabled]="hiddenJavaPlugin"
          color="accent"
          mat-flat-button
        >
          Baixar código java
        </button>
      </div>
    </div>

    <div
      #java
      *ngIf="!hiddenJavaPlugin"
      class="ide-container col-12 col-lg-6"
      data-language="java"
      data-libs="mavenlib1, mavenlib2"
      data-pym-src="https://www.jdoodle.com/plugin"
      data-version-index="3"
    >
      {{ text }}
    </div>
  </div>
</div>
