.select-colors {
  margin-left: auto;
  color: white !important;
}

.navbar {
  background-color: #ff5722;
  // .navbar-brand,
  // .nav-link,
  // .navbar-toggler {
  //   color: white;
  // }

  // .nav-link {
  //   cursor: pointer;
  // }
}
