<mat-toolbar class="sidebar" color="primary">
  <h1 class="example-app-name">PortuJava</h1>
  <button [matMenuTriggerFor]="menu" class="select-colors" mat-icon-button>
    <mat-icon *ngIf="modeSelected == 'dark_mode'">dark_mode</mat-icon>
    <mat-icon *ngIf="modeSelected == 'light_mode'">light_mode</mat-icon>
    <mat-icon *ngIf="modeSelected == 'nightlight'">nightlight</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="changeMode('dark_mode');" mat-menu-item>
      <mat-icon>dark_mode</mat-icon>
      <span>Modo escuro</span>
    </button>

    <button (click)="changeMode('light_mode')" mat-menu-item>
      <mat-icon>light_mode</mat-icon>
      <span>Modo Claro</span>
    </button>

    <button (click)="changeMode('nightlight')" mat-menu-item>
      <mat-icon>nightlight</mat-icon>
      <span>Modo pouco escuro</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="sidebar-content">
  <router-outlet></router-outlet>
</div>
